<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StarStackView-OC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F7982BA1D533D5C00A7353C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F7982D31D533D5D00A7353C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F7982DE1D533D5D00A7353C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
